body h1, body h2 {
	padding:10px;
	font-family: 'Lobster', Helvetica;
}

h1 {
	font-weight:300;
	font-size:4em;
	background-color: #000;
	-webkit-text-stroke: 1px #89FAC2;
}

h2 {
	color: #89FAC2;
	-webkit-text-stroke: 1px #000;
}

.post {
}